body {
    margin: 0px;
    overflow: hidden;
}

#background {
    background: url('./assets/background.png');
    height: 100vh;
    width: 100%
}

#hero {
    background: url('./assets/hero.png');
    height: 50px;
    width: 50px;
    position: absolute;
    top: 200px;
    left: 100px;
}

#enemies {
    height: 100vh;
    width: 100%;
}

.enemy {
    background: url('./assets/enemy.png');
    position: absolute;
    width: 50px;
    height: 50px;
}

.missle {
    background: url('./assets/missile2.png');
    position: absolute;
    width: 10px;
    height: 23px;
}

#missles {
    height: 100vh;
    width: 100%;
    position: absolute;
}

#controls {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 90vh;
    display: none;
}

button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-left: 140px;
}

#left {
    margin-right: auto;
}

@media(max-width: 800px) {
    #controls {
        display: block;
    }
}